# TypeChain files
typechain
typechain-types

# Hardhat files
cache
artifacts

# solidity-coverage files
coverage
coverage.json

# Environment variables
.env

# Temporary files
tmp
*/.openzeppelin/unknown-1337.json
