name: Test smart contracts in hardhat and collect coverage

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

jobs:
  tests:
    strategy:
      matrix:
        os:
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    name: Tests (${{ matrix.os }})

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: pnpm
          registry-url: "https://npm.pkg.github.com"
          scope: "@cloudwalk"

      - run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GHA_PAT }}

      - name: Build all contracts
        run: pnpm run -r --workspace-concurrency=-1 build

      - name: Test all contracts
        run: pnpm run -r --workspace-concurrency=1 test

  tests-coverage:
    runs-on: ubuntu-latest
    name: Tests with coverage

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: pnpm
          registry-url: "https://npm.pkg.github.com"
          scope: "@cloudwalk"

      - run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GHA_PAT }}

      - name: Build all contracts
        run: pnpm run -r --workspace-concurrency=-1 build

      - name: Test all contracts with coverage
        run: pnpm run -r --workspace-concurrency=1 test:coverage

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
